<% content_for :title, "Leaderboards" %>

<div class="header">
  <h1>Leaderboards</h1>
  <div>
    Logged as <%= @user %>
    <%= link_to "🠔 Back", root_path %>
    </div>
</div>

<div id="leaderboards">
  <table>
    <tr>
      <th>User</th>
      <th>Score</th>
    </tr>
  <% @users.sort_by(&:score).reverse.each do |user| %>
  <tr>
    <th><%= user.email_address %></th>
    <th><%= user.score %></th>
  </tr>
  <% end %>
  </table>
</div>
